<my-menu></my-menu>
<section id="main-content">
  <article class="content">


    <div class="container">  
  <form id="contact" [formGroup]="userForm" (submit)="login()">
    <h3>Login</h3>
    <h4>Ingresa tus credenciales de autenticación</h4>


    <fieldset>

      <input type="text" placeholder="username" formControlName="username" id="username" name="username"/>
      <control-messages [control]="userForm.controls.username"></control-messages>
    </fieldset>

    <fieldset>
      <input type="password" placeholder="Password" formControlName="password" id="password" />
      <control-messages [control]="userForm.controls.password"></control-messages>
    </fieldset>

    <fieldset>
      <div class="alertLogin" *ngIf="showAlert">
          <strong>Oh!</strong> {{MsgAlert}}.
      </div>
    </fieldset>


    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <!-- <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p> -->
  </form>
</div>

  <div  *ngIf="activateLoading" class="loading">Loading</div>
  </article> <!-- /article -->
</section> <!-- / #main-content -->

